:root{
    --white--color: #f1f0ec;
}
body{
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 13px;
}
ul li a:hover{border-bottom: 2px solid black;text-decoration: none;}
ul li a{border-bottom: 2px solid transparent}

/* HEADER */
header{
  background-color: black;
  text-align: center;
}
header p{
    padding: 10px;
    margin: 0;
    text-decoration: underline;
  color: #F5F5F5;

}


body{position: relative;}
/* NAV */
nav .nav_center img{
    width:100px;
    height:33px;
}
nav .nav_center {text-align: center;}
nav .nav-link{color:black}
nav img{width: 43px;height: 48px;margin: 20px 0 20px 0;}

nav { height: fit-content; padding: 0 20px;background-color: var(--white--color);}
nav #search{position: absolute; top:0;left:0;height:110px; width: 100%; background-color:var(--white--color);display: flex;align-items: center;z-index: 1;}
nav #search input{ background-color: var(--white--color); outline:none; width: 100%;}
nav  button{border: none;}
nav .nav_userVSshop{display: flex;}





/* MAIN */
main  h5{text-align: center; font-weight: bolder; font-size: xx-large;}
main h4{font-weight: 700;
    font-size: 15px;
    line-height: 18px;}
main p{font-weight: 400;
    font-size: 15px;
    line-height: 18px;}
main{background-color: var(--white--color);border-top: 1px solid #D9D9D9;}
main  .line {text-decoration: line-through;}
main .red{color: red;}
main .img_main{position: relative;}
main a{color: black}
main a:hover{text-decoration: none; color: #000000;}



/* footer */
footer{
   
    display: flex;
    padding: 40px 0 ;
    background-color: #000000;
    justify-content: space-around;
    color: #F5F5F5;
   
    }
footer a{color: #F5F5F5; font-weight: 100;}
footer li:first-child{margin: 20px 0;}
footer img{
        width: 15px;
       
}

footer input{
    border: none;
    color: #F5F5F5;
    background-color: #000000;
    outline: none;
    flex: 1;
}
footer .footer_email{
    border-bottom: 2px solid white;
    width: 100%;
    display: flex;

}
footer .footer_MXH img{margin: 5px;}