:root{
    --white--color:#fff;
    --blu--color:#5262bc;
    --green--color:#30b0b3;
    --margin-left--margin:50px
}
body{
    color: var(--white--color);
    margin: 0;
    padding: 0;
    background-color: var(--blu--color);
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;


}
.body_app{
    max-width: 1150px;
    margin: auto;


}
.header_nav{
    display: flex;
    justify-content:space-between;
    padding-bottom: 50px;

}
header .header_nav .logo  a img{
    height: 30px;
}
 a {
    text-decoration: none;
    color: var(--white--color);


}
li{
    list-style: none;
    float: left;
    margin: auto;
    padding: 0;

}

.logo a span{
    font-size: 40px;
}
menu{
    display: flex;
    margin: 0;
    justify-content:space-around;
    padding: 0;
    margin: 0;

}
.menu_inner{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 5px;
    position: absolute;   
    top:2.3Orem; 
    display: none;
}
.menu ul li:last-child:hover .menu_inner{
    display: flex;
}

.menu ul li:last-child:hover .menu_ul_li_hover{
    background-color: #fff;
    color: var(--blu--color);
    border-radius: 5px;
 

}
.menu ul li:last-child:focus .iup{
    display:inline;
}
.menu ul li:last-child:focus .idown{
    display: none;
}
.menu i:nth-child(2){
    display: none;
}
.menu i:nth-child(1){
    padding-left: 3px;
}

.menu_ul_li {
    display: block;
    padding: 0 15px;
}

.menu_inner ul li{
   padding: 0;
   margin: 0;
}

.menu_inner li a{
    color: #5262bc;
    height: 45px;
    width: 160px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 5px;



  
}



header menu i{
    font-size: 0.8rem;
}


.login input[type="submit"]{
    height: 40px;
    width: 140px;
    background-color: #fff;
    color: #5262bc;
    border-radius: 5px;
    border-style: none;
    margin-top: 10px;
}
.login input[type="submit"]:first-child{
    background-color:var(--blu--color);
    color: var(--white--color);
}

input[type="submit"]{
    cursor: pointer;
}

.header_main{
    display: flex;
}
/* //header_main */
.header_main_right{
    width: 460px;
}
.header_main h1{
   display: block;
   margin: 0;
   font-size: xxx-large;
}
.header_main p{
    font-size: 20px;
    line-height: 35px;
}

/* homeItWork */
.homeItWork{background-color: #fff; }
.contains{width: 100%; display: grid;grid-gap: 2%;grid-template-columns: 32% 32% 32%}
.item{border: 1px solid #8888;border-radius: 5px;}
.content{display: flex;justify-content: space-between; width: fit-content;margin: 20px 0 0 20px; width: 100%;}
.content h5{font-size: 25px; margin: 10px 0; color: #455a64;}
.paragraph{ margin: 20px 40px 30px 20px;}

.homeItWork_button{width: 100%;text-align: center; margin: 30px;}
/* reward */
.reward{background-color:#f5f7f8 ;}
.title{text-align: center;}
.reward .contains{display: grid; grid-template-columns: 32% 32% 32%; grid-gap: 2%;}
.reward .item{background: url(/img/img_display/Backgroud_logo.png); height: 200px;display: flex;align-items: center;border-left: 10px solid #455a64; box-shadow: 2px 2px #d5d5d5;}
.reward .item .logo_img{margin-left: 40px;}
.reward p{margin: 20px 0 40px 0;font-size: x-large;}
.reward h1{margin:0}
.reward_button{text-align: center;margin-top: 30px;}

/* evaluate */
.evaluate{background-image: url(/img/img_display/Backgroud_footer.png);background-repeat: no-repeat;width: 4480px; display: flex;height: fit-content;}
.title{width: 340px; height: 100%;display: flex;align-items: center;}
.intro{padding-bottom:30px ;}
.star{}
.contain_star{}
.icon_star{}
.note{}
/* learnAbout */
.learnAbout{background-color:#f5f7f8 ;}

/* join */
.join{ background-color: #fff;}

