:root{
    --white--color:#fff;
    --blu--color:#5262bc;
    --green--color:#30b0b3;
    --margin-left--margin:50px
}
body{
    margin: 0;padding: 0;
    background-image: url(/img/img_login/BackGroud_login.png);
    background-size: cover; 
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
}
.logo {margin-top: 10px; text-align: center;}
.logo a{color: black; font-size: smaller;font-weight:100;}

/* main  */

main{max-width: 1100px; margin: auto;}
main nav p{font-size: medium; text-align: end; }
main nav span{color:var(--blu--color);font-weight: bold;}


/* contain  */
main .contain {
    display: grid;
    grid-template-columns: 49% 49%;
    border: 1px solid #969696;
    border-radius: 10px;
    background-color: #fff;
}

/* evaluate */

.evaluate{border-right: 1px solid #969696; }
.evaluate_inner{ margin: 7%; }
.evaluate_inner h1{font-size:revert;}
.evaluate_inner p{font-size:smaller;line-height: 1.5;}
.evaluate_inner .note{display: flex;justify-content: center; align-items: center;}
.evaluate_inner .note p{margin-right: 10px;}
.evaluate_inner .star_Trustpilot{justify-content: center;align-items: center;}
.evaluate_inner .star_Trustpilot img{height: 30px;}
.evaluate_inner .star_Trustpilot h5{display: block;align-self: end; margin: 0; font-size: large;}
/* login */
.login_inner{ margin: 7%;}
.login .login_inner img{height: 30px;}
.login .login_inner h2{color:var(--blu--color);opacity: 0.9;}
.login .login_inner p{font-size: revert;}
.login .login_inner .input_password{display: flex;align-items: center; position: relative;}
.login .login_inner .input_password img{ position: absolute;right: 20px;opacity: 0.5;cursor: pointer;}
.login .login_inner .input_password img:last-child{display: none;}
.login .login_inner .input_password .eye:active{display: none;}
.login .login_inner .input_password .eye:active .noeye{display: block;}
.login .login_inner input[type="text"],input[type="password"]{
    max-width: -webkit-fill-available;
    outline: none;
    width: 100%;
    padding: 15px 0px 15px 20px;
    margin: 15px 0;
    border-radius: 5px;
    border: 1px solid #969696;
}
.login .login_inner .button_submit{display: flex;justify-content: space-between; margin-top: 20px;}
.login .login_inner .button_submit input{background-color: var(--blu--color); color: var(--white--color);height: 35px;width: 180px;}
.login .login_inner .button_submit input:last-child{background-color: var(--white--color);color: #5262bc;}
.login .login_inner .button_submit input:last-child:hover{border:1px solid var(--blu--color);}



/* about */
.about{margin-top: 30px;text-align: center;position:relative; border-bottom: 1px solid #969696; height:10px ;}
.about  a{text-decoration: none; padding: 0 10px;background-color: #fff;position: relative;}