:root{
    --white--color:#fff;
    --blu--color:#5262bc;
    --green--color:#30b0b3;
}
.button_header{
    width: 220px;
    height: 45px;
    border-style: none;
    border-radius: 4rem; 
    color: var(--blu--color);
    font-weight: 600;

}

.button_main{
    width: 220px;
    height: 45px;
    border-style: none;
    font-weight: 600;
    border-radius: 4rem;
    background-color: #fff; 
    color: var(--blu--color);
    border:2px solid #5262bc;
}
.button_header:hover,.button_main:hover{
    background-color:var(--blu--color);
    color:var(--white--color);
    border:2px solid #fff
}
.buttonStep{
    height: 25px;
    width: 65px;
    background-color: var(--green--color);
    border-radius: 5rem;
    border-style: none;
    color: #fff;
    font-weight:600 ;
}

.imgStep{
    height: 150px;
    width: 200px;
}
input, button:hover{
    cursor: pointer;
}
main p{ font-size: larger;}
main h1{font-size: xxx-large;}

/* star  */
.evaluate .star_Trustpilot{display:flex;height: 30px;}
.evaluate .star{height: 25px;}
.evaluate .star h5{display: block; margin: 0;align-self: self-end; font-size: large;}
.evaluate .contain_star{display:flex} 
.evaluate .icon_star {height: 30px; }
.evaluate .contain_star img{margin-right: 5px;} 
/* logo  */
.logo a span{font-size: 40px;}
.logo img{height: 30px;}
.logo a{ text-decoration: none;}

